.menuButton a.learn {
    background: url(../images/skin/questionmark.gif) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.manage {
    background: url(../images/skin/manage-16.jpg) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.practice {
    background: url(../images/skin/practice-16.jpg) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

div.lessonselector {
    width: 60px;
    height: 60px;
    margin: 6px;
    text-align: center;
    float: left;
}

.chosen, .selectable {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: 2px black solid;
}

.selectable {
    background-color: #f08080;
    font-weight: normal;
    color: black;
}

.chosen {
    background-color: #90ee90;
}