.menuButton a.learn {
  background: url(../images/skin/questionmark.gif) center left no-repeat;
  color: #333;
  padding-left: 25px;
}

.menuButton a.manage {
  background: url(../images/skin/manage-16.jpg) center left no-repeat;
  color: #333;
  padding-left: 25px;
}

.menuButton a.practice {
  background: url(../images/skin/practice-16.jpg) center left no-repeat;
  color: #333;
  padding-left: 25px;
}