a.active, a.selected, a.inactive, a.deselected {
    font-weight: normal;
    color: black;
    width: 60px;
    height: 60px;
    margin: 6px;
}

a.active {
    background-color: #ccccff;
}

a.inactive {
    background-color: #ffffff;
}

a.selected {
    border: 2px #006600 solid;
}

a.deselected {
    border: 2px #dedede solid;
}

.frameCard {
    height: 390px;
    margin-top: 50px;
    background-color: white;
}

.frameCardKanji {
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    height: 100%
}

.frameCardKeyword {
    text-align: left;
    font-size: 20px
}

.frameCardNumber {
    text-align: right;
    font-size: 12px;
}

.frameMessage {
    text-align: center;
}

#progress-chart {
    border: 1px #ccc solid;
}

#showstory {
    margin: 50px 10px 10px;
}

.confirm {
    background-color: #80f08e;
}

.decline {
    background-color: #f08080;
}