.storyWindow {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #333;
}

#storyBox {
  padding: 5px;
}

#storyBox textarea {
  padding: 5px;
  width: 215px;
  height: 200px;
}

#storyBox #storyEdit .control {
  width: 215px;
}

#storyBox {
  padding: 1.5em 0 0;
}

#storyBox .bookstyle {
  color: black;
}

.empty {
  color: #888;
}

#storyDisplay {
  border-width: 0px;
  resize: none;
  color: gray;
}

#storyDisplay:hover {
  background-color: #fafafa;
}

#storyBox #storyEdit .control .buttonBar {
  float: right;
}

#showStory:hover {
   background-color: #fafafa;
}