<#storyBox {
  padding: 8px;
}

#storyBox textarea {
  padding: 5px;
  width: 215px;
  height: 240px;
  overflow: hidden;
}

#storyBox #storyEdit .control {
  width: 215px;
}

#storyBox .bookstyle {
  color: black;
}

.empty {
  color: #888;
}

#storyDisplay {
  border-width: 0px;
  resize: none;
  color: gray;
}

#storyDisplay:hover {
  background-color: #f2f2f2;
}

#storyBox #storyEdit .control .buttonBar {
  float: right;
}

#showStory {
  background-color: white;
  width: 235px;
  height: 300px;
  color: #bbbbbb;
  text-align: center;
  vertical-align: middle;
}

#showStory:hover {
  background-color: #f2f2f2;
}