.overlay_dialog {
  background-color: #666666;
  filter: alpha(opacity = 60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.overlay___invisible__ {
  background-color: #666666;
  filter: alpha(opacity = 0);
  -moz-opacity: 0;
  opacity: 0;
}

.story_nw {
  width: 9px;
  height: 23px;
  background: transparent url(default/top_left.gif) no-repeat 0 0;
}

.story_n {
  background: transparent url(default/top_mid.gif) repeat-x 0 0;
  height: 23px;
}

.story_ne {
  width: 9px;
  height: 23px;
  background: transparent url(default/top_right.gif) no-repeat 0 0;
}

.story_e {
  width: 2px;
  background: transparent url(default/center_right.gif) repeat-y 0 0;
}

.story_w {
  width: 2px;
  background: transparent url(default/center_left.gif) repeat-y 0 0;
}

.story_close {
  width: 14px;
  height: 14px;
  background: transparent url(default/close.gif) no-repeat 0 0;
  position: absolute;
  top: 5px;
  left: 8px;
  cursor: pointer;
  z-index: 2000;
}

.story_title {
  padding-top: 4px;
  float: left;
  height: 14px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  width: 100%;
  color: #000;
}

.story_content {
  overflow: auto;
  color: #DDD;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 10px;
  background-color: #123;
}

.top_draggable, .bottom_draggable {
  cursor: move;
}

.status_bar {
  font-size: 12px;
}

.status_bar input {
  font-size: 12px;
}

.wired_frame {
  display: block;
  position: absolute;
  border: 1px #000 dashed;
}

/* DO NOT CHANGE THESE VALUES*/
.dialog {
  display: block;
  position: absolute;
}

.dialog table.table_window {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.dialog table.table_window td, .dialog table.table_window th {
  padding: 0;
}

.dialog .title_window {
  -moz-user-select: none;
}                                                    

